# Using Operators

In [10]:
# Check for voting age
age = int(input("Enter age: "))   # Assignment Operator
if age<18:                        # Comparison Operator   
  print("Can't Vote")
else:
  print("Can Vote")

Enter age: 32
Can Vote

# Working with Lists

In [25]:
a = [1,2,3,4]
print("Sum:",sum(a))      # printing sum of all elements
print("Max:",max(a))      # printing max value
print("Min:",min(a))      # printing min value
p=1
for i in a:
  p = p*i
print("Product:",p)       # printing product of all elements

Sum: 10
Max: 4
Min: 1
Product: 24

# Working with Tuples

In [42]:
# Creating a tuple with different data types
t = tuple((input("Enter elements: ").split()))
t

Enter elements: A 30 4.5 cat

('A', '30', '4.5', 'cat')

In [43]:
# Printing a value from a tuple with numbers
t = (1,2,3,4)
t[-2]

3

In [40]:
# Adding items into tuple
t1 = (5,6)
t+t1

(1, 2, 3, 4, 5, 6)

In [41]:
# Tuple to string
s = ''
t = ('M','a','n','a','s','i')
for i in t:
  s = s+i
s

'Manasi'

# Working with Sets

In [53]:
# Creating a set
s = set((input("Enter elements: ").split()))
s

Enter elements: a cat 3 4.6

{'3', '4.6', 'a', 'cat'}

In [54]:
# Adding element in a set
s.add(5)
s

{'3', '4.6', 5, 'a', 'cat'}

In [55]:
# Removing element from a set
s.remove(5)
s

{'3', '4.6', 'a', 'cat'}

In [57]:
# Removing element(if present) from a set
p = '3'
if p in s:
  s.remove(p)
s

{'4.6', 'a', 'cat'}

# Working with Dictionaries

In [60]:
# Add key into dict
d = {1:'A',2:'B'}
d[3] = 'C'
d

{1: 'A', 2: 'B', 3: 'C'}

In [70]:
# Concatinating and creating a new one
d1 = {4:'D'}
D = {}
for i in (d,d1):
  D.update(i)
D

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [68]:
# Checking for a key in dict
key = int(input("Enter key to check if present: "))
key in d

Enter key to check if present: 3

True

# Classes

In [71]:
# Using classes
class bank:
  exmoney=1000                                            # class variable
  def withdraw(self,wd):
    self.wd=wd                                            # object variable
    self.exmoney=self.exmoney-self.wd  
    print("Amount left:",self.exmoney)
  def deposit(self,deposit):
    self.d=deposit
    self.exmoney=self.exmoney+self.d
    print("Amount now:",self.exmoney)
print("Existing amount: 1000")
ch=int(input("Choose:\n1.Deposit\n2.Withdraw\n"))
o=bank()                                                  # class object
if ch==1:
  dep=int(input("Enter amount for deposit: "))
  o.deposit(dep)
elif ch==2:
  wid=int(input("Enter amount for withdrawl: "))
  if wid>1000:
    print("Insufficient Balance")
  else:  
    o.withdraw(wid)

Existing amount: 1000
Choose:
1.Deposit
2.Withdraw
2
Enter amount for withdrawl: 50
Amount left: 950